In [1]:
import pandas as pd
import numpy as np

from classes.KAnonymizer import KAnonymizer

In [2]:
ds = pd.read_csv(filepath_or_buffer='Artists-Pseudo-02.csv',sep=',')
ds

,Unnamed: 0,ConstituentID,DisplayName,Region,Gender,BeginDate,Wiki QID,Income ($)
0,0,1,Robert Arneson,Port Vila; Vanuatu; Melanesia; Oceania,Male,1930,Q6113656,20900
1,1,2,Doroteo Arnaiz,Fort-de-France; Martinique; Caribbean; Americas,Male,1936,Q164351,9300
2,2,3,Bill Arnold,Sanaa; Yemen; Western Asia; Asia,Male,1941,Q6668231,5400
3,3,4,Charles Arnoldi,Lome; Togo; Western Africa; Africa,Male,1946,Q1063584,11600
4,4,5,Per Arnoldi,Luanda; Angola; Middle Africa; Africa,Male,1941,Q663175,9300
...,...,...,...,...,...,...,...,...
15710,15710,132165,Eric Klarenbeek,Kuala Lumpur; Malaysia; South-Eastern Asia; Asia,Male,1978,Q1471465,9300
15711,15711,132166,Maartje Dros,The Valley; Anguilla; Caribbean; Americas,Female,1862,Q259594,9300
15712,15712,132170,The Event Horizon Telescope Collaboration,Maseru; Lesotho; Southern Africa; Africa,male,1791,Q182014,34400
15713,15713,132427,Krasnyi proletarii,Accra; Ghana; Western Africa; Africa,Female,1821,Q380494,12400
15714,15714,132545,Ann Tyng,Lusaka; Zambia; Eastern Africa; Africa,Female,1920,Q21071066,5400

In [3]:
sensitivity_features = [i  for i in ds.columns if i not in ['Region','BeginDate','Income ($)']] 
sensitivity_features

['Unnamed: 0', 'ConstituentID', 'DisplayName', 'Gender', 'Wiki QID']

In [449]:
df = KAnonymizer(ds,sensitivity_features=sensitivity_features)

In [450]:
df = df.getAnonymizedData()
df

,Income ($),city,country,sub-region,region,year,decade,century
0,20900,Port Vila,Vanuatu,Melanesia,Oceania,1930,1920,20
1,9300,Fort-de-France,Martinique,Caribbean,Americas,1936,1930,20
2,5400,Sanaa,Yemen,Western Asia,Asia,1941,1940,20
3,11600,Lome,Togo,Western Africa,Africa,1946,1940,20
4,9300,Luanda,Angola,Middle Africa,Africa,1941,1940,20
...,...,...,...,...,...,...,...,...
15710,9300,Kuala Lumpur,Malaysia,South-Eastern Asia,Asia,1978,1970,20
15711,9300,The Valley,Anguilla,Caribbean,Americas,1862,1860,19
15712,34400,Maseru,Lesotho,Southern Africa,Africa,1791,1790,18
15713,12400,Accra,Ghana,Western Africa,Africa,1821,1820,19
15714,5400,Lusaka,Zambia,Eastern Africa,Africa,1920,1910,20

In [451]:
K_ANONIM = 8

In [452]:
contagem_df = df.groupby(['city', 'century'])['Income ($)'].count()
contagem_df

city       century
Abu Dhabi  18          2
           19         12
           20         44
           21          3
Abuja      18          1
                      ..
Yerevan    21          2
Zagreb     18          1
           19         19
           20         48
           21          2
Name: Income ($), Length: 827, dtype: int64

In [453]:
val_a_sub = contagem_df[contagem_df < K_ANONIM].index
val_a_sub

MultiIndex([(   'Abu Dhabi', 18),
            (   'Abu Dhabi', 21),
            (       'Abuja', 18),
            (       'Abuja', 21),
            (       'Accra', 18),
            (       'Accra', 21),
            (   'Adamstown', 21),
            ( 'Addis Ababa', 18),
            ( 'Addis Ababa', 21),
            (       'Alofi', 21),
            ...
            (  'Willemstad', 21),
            (    'Windhoek', 21),
            ('Yamoussoukro', 18),
            ('Yamoussoukro', 21),
            (       'Yaren', 18),
            (       'Yaren', 21),
            (     'Yerevan', 18),
            (     'Yerevan', 21),
            (      'Zagreb', 18),
            (      'Zagreb', 21)],
           names=['city', 'century'], length=346)

for (city, decade) in val_a_sub:
    novo_valor_year = df.loc[(df['city'] == city) & (df['decade'] == decade), 'century'].values[0]
    print(decade,novo_valor_year)
    df.loc[(df['city'] == city) & (df['decade'] == decade), 'decade'] = novo_valor_year

In [454]:
df

,Income ($),city,country,sub-region,region,year,decade,century
0,20900,Port Vila,Vanuatu,Melanesia,Oceania,1930,1920,20
1,9300,Fort-de-France,Martinique,Caribbean,Americas,1936,1930,20
2,5400,Sanaa,Yemen,Western Asia,Asia,1941,1940,20
3,11600,Lome,Togo,Western Africa,Africa,1946,1940,20
4,9300,Luanda,Angola,Middle Africa,Africa,1941,1940,20
...,...,...,...,...,...,...,...,...
15710,9300,Kuala Lumpur,Malaysia,South-Eastern Asia,Asia,1978,1970,20
15711,9300,The Valley,Anguilla,Caribbean,Americas,1862,1860,19
15712,34400,Maseru,Lesotho,Southern Africa,Africa,1791,1790,18
15713,12400,Accra,Ghana,Western Africa,Africa,1821,1820,19
15714,5400,Lusaka,Zambia,Eastern Africa,Africa,1920,1910,20

In [455]:
nova_contagem_df = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df

city       century
Abu Dhabi  18          2
           19         12
           20         44
           21          3
Abuja      18          1
                      ..
Yerevan    21          2
Zagreb     18          1
           19         19
           20         48
           21          2
Name: Income ($), Length: 827, dtype: int64

In [456]:
novos_val_a_sub = nova_contagem_df[nova_contagem_df < K_ANONIM].index
novos_val_a_sub

MultiIndex([(   'Abu Dhabi', 18),
            (   'Abu Dhabi', 21),
            (       'Abuja', 18),
            (       'Abuja', 21),
            (       'Accra', 18),
            (       'Accra', 21),
            (   'Adamstown', 21),
            ( 'Addis Ababa', 18),
            ( 'Addis Ababa', 21),
            (       'Alofi', 21),
            ...
            (  'Willemstad', 21),
            (    'Windhoek', 21),
            ('Yamoussoukro', 18),
            ('Yamoussoukro', 21),
            (       'Yaren', 18),
            (       'Yaren', 21),
            (     'Yerevan', 18),
            (     'Yerevan', 21),
            (      'Zagreb', 18),
            (      'Zagreb', 21)],
           names=['city', 'century'], length=346)

In [457]:
for (city, century) in novos_val_a_sub:
    novo_valor_city = df.loc[(df['city'] == city) & (df['century'] == century), 'country'].values[0]
    print(city,novo_valor_city)
    df.loc[(df['city'] == city) & (df['century'] == century), 'city'] = novo_valor_city

Abu Dhabi  United Arab Emirates
Abu Dhabi  United Arab Emirates
Abuja  Nigeria
Abuja  Nigeria
Accra  Ghana
Accra  Ghana
Adamstown  Pitcairn Island
Addis Ababa  Ethiopia
Addis Ababa  Ethiopia
Alofi  Niue
Amman  Jordan
Amman  Jordan
Amsterdam  Netherlands The
Andorra la Vella  Andorra
Andorra la Vella  Andorra
Ankara  Turkey
Antananarivo  Madagascar
Antananarivo  Madagascar
Apia  Samoa
Ashgabat  Turkmenistan
Asuncion  Paraguay
Athens  Greece
Avarua  Cook Islands
Baghdad  Iraq
Baghdad  Iraq
Baku  Azerbaijan
Baku  Azerbaijan
Bamako  Mali
Bamako  Mali
Bandar Seri Begawan  Brunei
Bandar Seri Begawan  Brunei
Bangkok  Thailand
Bangui  Central African Republic
Basse-Terre  Guadeloupe
Basseterre  Saint Kitts And Nevis
Basseterre  Saint Kitts And Nevis
Beijing  China
Beijing  China
Beirut  Lebanon
Belgrade  Serbia
Belgrade  Serbia
Belmopan  Belize
Belmopan  Belize
Berlin  Germany
Berlin  Germany
Bern  Switzerland
Bishkek  Kyrgyzstan
Bishkek  Kyrgyzstan
Bissau  Guinea-Bissau
Bissau  Guinea-Bissau
Bogota  Colombia
Brasilia  Brazil
Bratislava  Slovakia
Bratislava  Slovakia
Brazzaville  Congo
Bridgetown  Barbados
Bridgetown  Barbados
Brussels  Belgium
Brussels  Belgium
Bucharest  Romania
Budapest  Hungary
Buenos Aires  Argentina
Buenos Aires  Argentina
Bujumbura  Burundi
Bujumbura  Burundi
Cairo  Egypt
Cairo  Egypt
Canberra  Australia
Canberra  Australia
Caracas  Venezuela
Castries  Saint Lucia
Castries  Saint Lucia
Cayenne  French Guiana
Charlotte Amalie  Virgin Islands (US)
Chisinau  Moldova
Chisinau  Moldova
Cockburn Town  Turks And Caicos Islands
Cockburn Town  Turks And Caicos Islands
Colombo  Sri Lanka
Conakry  Guinea
Copenhagen  Denmark
Copenhagen  Denmark
Dakar  Senegal
Dakar  Senegal
Damascus  Syria
Dhaka  Bangladesh
Diego Garcia  British Indian Ocean Territory
Diego Garcia  British Indian Ocean Territory
Djibouti  Djibouti
Dodoma  Tanzania
Dodoma  Tanzania
Doha  Qatar
Douglas, Isle of Man  Man (Isle of)
Douglas, Isle of Man  Man (Isle of)
Dublin  Ireland
Dushanbe  Tajikistan
Dushanbe  Tajikistan
East Jerusalem  Palestinian Territory Occupied
East Jerusalem  Palestinian Territory Occupied
El-Aaiun  Western Sahara
Flying Fish Cove  Christmas Island
Fort-de-France  Martinique
Fort-de-France  Martinique
Freetown  Sierra Leone
Freetown  Sierra Leone
Funafuti  Tuvalu
Funafuti  Tuvalu
Gaborone  Botswana
Gaborone  Botswana
George Town  Cayman Islands
Georgetown  Guyana
Georgetown  Guyana
Gibraltar  Gibraltar
Gibraltar  Gibraltar
Grytviken  South Georgia
Grytviken  South Georgia
Guatemala City  Guatemala
Gustavia  Saint-Barthelemy
Gustavia  Saint-Barthelemy
Hagatna  Guam
Hagatna  Guam
Hamilton  Bermuda
Hanoi  Vietnam
Hanoi  Vietnam
Harare  Zimbabwe
Harare  Zimbabwe
Havana  Cuba
Havana  Cuba
Helsinki  Finland
Helsinki  Finland
Hong Kong  Hong Kong S.A.R.
Honiara  Solomon Islands
Islamabad  Pakistan
Jakarta  Indonesia
Jamestown  Saint Helena
Juba  South Sudan
Kabul  Afghanistan
Kabul  Afghanistan
Kampala  Uganda
Kathmandu  Nepal
Khartoum  Sudan
Kigali  Rwanda
Kigali  Rwanda
Kingston  Jamaica
Kingston  Norfolk Island
Kingstown  Saint Vincent And The Grenadines
Kingstown  Saint Vincent And The Grenadines
Kingstown  Saint Vincent And The Grenadines
Kinshasa  Congo The Democratic Republic Of The
Kinshasa  Congo The Democratic Republic Of The
Kuwait City  Kuwait
Libreville  Gabon
Lilongwe  Malawi
Lima  Peru
Lima  Peru
Lisbon  Portugal
Ljubljana  Slovenia
Ljubljana  Slovenia
Lome  Togo
Lome  Togo
London  United Kingdom
Longyearbyen  Svalbard And Jan Mayen Islands
Luanda  Angola
Lusaka  Zambia
Luxembourg  Luxembourg
Luxembourg  Luxembourg
Macao  Macau S.A.R.
Macao  Macau S.A.R.
Majuro  Marshall Islands
Majuro  Marshall Islands
Malabo  Equatorial Guinea
Malabo  Equatorial Guinea
Male  Maldives
Mamoudzou  Mayotte
Managua  Nicaragua
Managua  Nicaragua
Manama  Bahrain
Manila  Philippines
Manila  Philippines
Maputo  Mozambique
Maputo  Mozambique
Mariehamn  Aland Islands
Marigot  Saint-Martin (French part)
Marigot  Saint-Martin (French part)
Maseru  Lesotho
Maseru  Lesotho
Mata Utu  Wallis And Futuna Islands
Mbabane  Swaziland
Melekeok  Palau
Mexico City  Mexico
Mexico City  Mexico
Minsk  Belarus
Minsk  Belarus
Mogadishu  Somalia
Monaco  Monaco
Monrovia  Liberia
Montevideo  Uruguay
Moroni  Comoros
Moroni  Comoros
Moscow  Russia
N'Djamena  Chad
Nairobi  Kenya
Nairobi  Kenya
Nairobi  Kenya
Nassau  Bahamas The
Nassau  Bahamas The
Nay Pyi Taw  Myanmar
Nay Pyi Taw  Myanmar
Niamey  Niger
Nicosia  Cyprus
Nicosia  Cyprus
Nouakchott  Mauritania
Nouakchott  Mauritania
Noumea  New Caledonia
Nuku'alofa  Tonga
Nuku'alofa  Tonga
Nuuk  Greenland
Oranjestad  Aruba
Oranjestad  Aruba
Oslo  Norway
Ottawa  Canada
Ottawa  Canada
Ouagadougou  Burkina Faso
Ouagadougou  Burkina Faso
Pago Pago  American Samoa
Pago Pago  American Samoa
Palikir  Micronesia
Panama City  Panama
Papeete  French Polynesia
Papeete  French Polynesia
Paramaribo  Suriname
Philipsburg  Sint Maarten (Dutch part)
Phnom Penh  Cambodia
Plymouth  Montserrat
Plymouth  Montserrat
Podgorica  Montenegro
Podgorica  Montenegro
Port Louis  Mauritius
Port Moresby  Papua new Guinea
Port Moresby  Papua new Guinea
Port Vila  Vanuatu
Port Vila  Vanuatu
Port of Spain  Trinidad And Tobago
Port of Spain  Trinidad And Tobago
Port-au-Prince  Haiti
Port-au-Prince  Haiti
Port-aux-Francais  French Southern Territories
Prague  Czech Republic
Praia  Cape Verde
Praia  Cape Verde
Pretoria  South Africa
Pretoria  South Africa
Pristina  Kosovo
Pristina  Kosovo
Pyongyang  Korea North
Rabat  Morocco
Riga  Latvia
Riyadh  Saudi Arabia
Road Town  Virgin Islands (British)
Road Town  Virgin Islands (British)
Rome  Italy
Rome  Italy
Roseau  Dominica
Roseau  Dominica
Saint Helier  Jersey
Saint-Denis  Reunion
Saint-Denis  Reunion
Saint-Pierre  Saint Pierre and Miquelon
Saipan  Northern Mariana Islands
Saipan  Northern Mariana Islands
Saipan  Northern Mariana Islands
San Jose  Costa Rica
San Juan  Puerto Rico
San Marino  San Marino
San Marino  San Marino
San Salvador  El Salvador
San Salvador  El Salvador
San Salvador  El Salvador
Sanaa  Yemen
Sanaa  Yemen
Santiago  Chile
Santiago  Chile
Santo Domingo  Dominican Republic
Santo Domingo  Dominican Republic
Sarajevo  Bosnia and Herzegovina
Seoul  Korea South
Seoul  Korea South
Singapur  Singapore
Singapur  Singapore
Skopje  Macedonia
Skopje  Macedonia
Sofia  Bulgaria
Sofia  Bulgaria
Sofia  Bulgaria
St. George's  Grenada
St. John's  Antigua And Barbuda
Stanley  Falkland Islands
Stockholm  Sweden
Stockholm  Sweden
Sucre  Bolivia
Suva  Fiji Islands
Taipei  Taiwan
Tallinn  Estonia
Tarawa  Kiribati
Tarawa  Kiribati
Tbilisi  Georgia
Tbilisi  Georgia
Tegucigalpa  Honduras
Tegucigalpa  Honduras
Tehran  Iran
The Valley  Anguilla
The Valley  Anguilla
Thimphu  Bhutan
Thimphu  Bhutan
Tirana  Albania
Tirana  Albania
Tokyo  Japan
Torshavn  Faroe Islands
Torshavn  Faroe Islands
Tunis  Tunisia
Ulan Bator  Mongolia
Ulan Bator  Mongolia
Valletta  Malta
Valletta  Malta
Vatican City  Vatican City State (Holy See)
Victoria  Seychelles
Vienna  Austria
Vientiane  Laos
Vilnius  Lithuania
Warsaw  Poland
Washington  United States
Wellington  New Zealand
Wellington  New Zealand
West Island  Cocos (Keeling) Islands
West Island  Cocos (Keeling) Islands
Willemstad  CuraÃ§ao
Willemstad  CuraÃ§ao
Windhoek  Namibia
Yamoussoukro  Cote D'Ivoire (Ivory Coast)
Yamoussoukro  Cote D'Ivoire (Ivory Coast)
Yaren  Nauru
Yaren  Nauru
Yerevan  Armenia
Yerevan  Armenia
Zagreb  Croatia (Hrvatska)
Zagreb  Croatia (Hrvatska)

In [458]:
df

,Income ($),city,country,sub-region,region,year,decade,century
0,20900,Port Vila,Vanuatu,Melanesia,Oceania,1930,1920,20
1,9300,Fort-de-France,Martinique,Caribbean,Americas,1936,1930,20
2,5400,Sanaa,Yemen,Western Asia,Asia,1941,1940,20
3,11600,Lome,Togo,Western Africa,Africa,1946,1940,20
4,9300,Luanda,Angola,Middle Africa,Africa,1941,1940,20
...,...,...,...,...,...,...,...,...
15710,9300,Kuala Lumpur,Malaysia,South-Eastern Asia,Asia,1978,1970,20
15711,9300,The Valley,Anguilla,Caribbean,Americas,1862,1860,19
15712,34400,Lesotho,Lesotho,Southern Africa,Africa,1791,1790,18
15713,12400,Accra,Ghana,Western Africa,Africa,1821,1820,19
15714,5400,Lusaka,Zambia,Eastern Africa,Africa,1920,1910,20

In [459]:
nova_contagem_df_2 = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df_2

city            century
 Afghanistan    18          1
                21          1
 Aland Islands  21          1
 Albania        18          2
                21          3
                           ..
Yaren           20         44
Yerevan         19         19
                20         47
Zagreb          19         19
                20         48
Name: Income ($), Length: 827, dtype: int64

In [460]:
novos_val_a_sub_2 = nova_contagem_df_2[nova_contagem_df_2 < K_ANONIM].index
novos_val_a_sub_2

MultiIndex([(              ' Afghanistan', 18),
            (              ' Afghanistan', 21),
            (            ' Aland Islands', 21),
            (                  ' Albania', 18),
            (                  ' Albania', 21),
            (           ' American Samoa', 18),
            (           ' American Samoa', 21),
            (                  ' Andorra', 18),
            (                  ' Andorra', 21),
            (                   ' Angola', 21),
            ...
            ( ' Virgin Islands (British)', 18),
            ( ' Virgin Islands (British)', 19),
            (      ' Virgin Islands (US)', 21),
            (' Wallis And Futuna Islands', 21),
            (           ' Western Sahara', 18),
            (                    ' Yemen', 18),
            (                    ' Yemen', 21),
            (                   ' Zambia', 18),
            (                 ' Zimbabwe', 18),
            (                 ' Zimbabwe', 21)],
           names=['city', 'century'], length=346)

for (city, decade) in novos_val_a_sub_2:
    novo_valor_year = df.loc[(df['city'] == city) & (df['decade'] == decade), 'century'].values[0]
    print(year,novo_valor_year)
    df.loc[(df['city'] == city) & (df['decade'] == decade), 'decade'] = novo_valor_year

In [461]:
df

,Income ($),city,country,sub-region,region,year,decade,century
0,20900,Port Vila,Vanuatu,Melanesia,Oceania,1930,1920,20
1,9300,Fort-de-France,Martinique,Caribbean,Americas,1936,1930,20
2,5400,Sanaa,Yemen,Western Asia,Asia,1941,1940,20
3,11600,Lome,Togo,Western Africa,Africa,1946,1940,20
4,9300,Luanda,Angola,Middle Africa,Africa,1941,1940,20
...,...,...,...,...,...,...,...,...
15710,9300,Kuala Lumpur,Malaysia,South-Eastern Asia,Asia,1978,1970,20
15711,9300,The Valley,Anguilla,Caribbean,Americas,1862,1860,19
15712,34400,Lesotho,Lesotho,Southern Africa,Africa,1791,1790,18
15713,12400,Accra,Ghana,Western Africa,Africa,1821,1820,19
15714,5400,Lusaka,Zambia,Eastern Africa,Africa,1920,1910,20

In [462]:
nova_contagem_df_3 = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df_3

city            century
 Afghanistan    18          1
                21          1
 Aland Islands  21          1
 Albania        18          2
                21          3
                           ..
Yaren           20         44
Yerevan         19         19
                20         47
Zagreb          19         19
                20         48
Name: Income ($), Length: 827, dtype: int64

In [463]:
novos_val_a_sub_3 = nova_contagem_df_3[nova_contagem_df_3 < K_ANONIM].index
novos_val_a_sub_3

MultiIndex([(              ' Afghanistan', 18),
            (              ' Afghanistan', 21),
            (            ' Aland Islands', 21),
            (                  ' Albania', 18),
            (                  ' Albania', 21),
            (           ' American Samoa', 18),
            (           ' American Samoa', 21),
            (                  ' Andorra', 18),
            (                  ' Andorra', 21),
            (                   ' Angola', 21),
            ...
            ( ' Virgin Islands (British)', 18),
            ( ' Virgin Islands (British)', 19),
            (      ' Virgin Islands (US)', 21),
            (' Wallis And Futuna Islands', 21),
            (           ' Western Sahara', 18),
            (                    ' Yemen', 18),
            (                    ' Yemen', 21),
            (                   ' Zambia', 18),
            (                 ' Zimbabwe', 18),
            (                 ' Zimbabwe', 21)],
           names=['city', 'century'], length=346)

In [464]:
for (city, century) in novos_val_a_sub_3:
    novo_valor_city = df.loc[(df['city'] == city) & (df['century'] == century), 'sub-region'].values[0]
    print(city,novo_valor_city)
    df.loc[(df['city'] == city) & (df['century'] == century), 'city'] = novo_valor_city

 Afghanistan  Southern Asia
 Afghanistan  Southern Asia
 Aland Islands  Northern Europe
 Albania  Southern Europe
 Albania  Southern Europe
 American Samoa  Polynesia
 American Samoa  Polynesia
 Andorra  Southern Europe
 Andorra  Southern Europe
 Angola  Middle Africa
 Anguilla  Caribbean
 Anguilla  Caribbean
 Antigua And Barbuda  Caribbean
 Argentina  South America
 Argentina  South America
 Armenia  Western Asia
 Armenia  Western Asia
 Aruba  Caribbean
 Aruba  Caribbean
 Australia  Australia and New Zealand
 Australia  Australia and New Zealand
 Austria  Western Europe
 Azerbaijan  Western Asia
 Azerbaijan  Western Asia
 Bahamas The  Caribbean
 Bahamas The  Caribbean
 Bahrain  Western Asia
 Bangladesh  Southern Asia
 Barbados  Caribbean
 Barbados  Caribbean
 Belarus  Eastern Europe
 Belarus  Eastern Europe
 Belgium  Western Europe
 Belgium  Western Europe
 Belize  Central America
 Belize  Central America
 Bermuda  Northern America
 Bhutan  Southern Asia
 Bhutan  Southern Asia
 Bolivia  South America
 Bosnia and Herzegovina  Southern Europe
 Botswana  Southern Africa
 Botswana  Southern Africa
 Brazil  South America
 British Indian Ocean Territory  Eastern Africa
 British Indian Ocean Territory  Eastern Africa
 Brunei  South-Eastern Asia
 Brunei  South-Eastern Asia
 Bulgaria  Eastern Europe
 Bulgaria  Eastern Europe
 Bulgaria  Eastern Europe
 Burkina Faso  Western Africa
 Burkina Faso  Western Africa
 Burundi  Eastern Africa
 Burundi  Eastern Africa
 Cambodia  South-Eastern Asia
 Canada  Northern America
 Canada  Northern America
 Cape Verde  Western Africa
 Cape Verde  Western Africa
 Cayman Islands  Caribbean
 Central African Republic  Middle Africa
 Chad  Middle Africa
 Chile  South America
 Chile  South America
 China  Eastern Asia
 China  Eastern Asia
 Christmas Island  Australia and New Zealand
 Cocos (Keeling) Islands  Australia and New Zealand
 Cocos (Keeling) Islands  Australia and New Zealand
 Colombia  South America
 Comoros  Eastern Africa
 Comoros  Eastern Africa
 Congo  Middle Africa
 Congo The Democratic Republic Of The  Middle Africa
 Congo The Democratic Republic Of The  Middle Africa
 Cook Islands  Polynesia
 Costa Rica  Central America
 Cote D'Ivoire (Ivory Coast)  Western Africa
 Cote D'Ivoire (Ivory Coast)  Western Africa
 Croatia (Hrvatska)  Southern Europe
 Croatia (Hrvatska)  Southern Europe
 Cuba  Caribbean
 Cuba  Caribbean
 CuraÃ§ao  Caribbean
 CuraÃ§ao  Caribbean
 Cyprus  Southern Europe
 Cyprus  Southern Europe
 Czech Republic  Eastern Europe
 Denmark  Northern Europe
 Denmark  Northern Europe
 Djibouti  Eastern Africa
 Dominica  Caribbean
 Dominica  Caribbean
 Dominican Republic  Caribbean
 Dominican Republic  Caribbean
 Egypt  Northern Africa
 Egypt  Northern Africa
 El Salvador  Central America
 El Salvador  Central America
 El Salvador  Central America
 Equatorial Guinea  Middle Africa
 Equatorial Guinea  Middle Africa
 Estonia  Northern Europe
 Ethiopia  Eastern Africa
 Ethiopia  Eastern Africa
 Falkland Islands  South America
 Faroe Islands  Northern Europe
 Faroe Islands  Northern Europe
 Fiji Islands  Melanesia
 Finland  Northern Europe
 Finland  Northern Europe
 French Guiana  South America
 French Polynesia  Polynesia
 French Polynesia  Polynesia
 French Southern Territories  Southern Africa
 Gabon  Middle Africa
 Georgia  Western Asia
 Georgia  Western Asia
 Germany  Western Europe
 Germany  Western Europe
 Ghana  Western Africa
 Ghana  Western Africa
 Gibraltar  Southern Europe
 Gibraltar  Southern Europe
 Greece  Southern Europe
 Greenland  Northern America
 Grenada  Caribbean
 Guadeloupe  Caribbean
 Guam  Micronesia
 Guam  Micronesia
 Guatemala  Central America
 Guinea  Western Africa
 Guinea-Bissau  Western Africa
 Guinea-Bissau  Western Africa
 Guyana  South America
 Guyana  South America
 Haiti  Caribbean
 Haiti  Caribbean
 Honduras  Central America
 Honduras  Central America
 Hong Kong S.A.R.  Eastern Asia
 Hungary  Eastern Europe
 Indonesia  South-Eastern Asia
 Iran  Southern Asia
 Iraq  Western Asia
 Iraq  Western Asia
 Ireland  Northern Europe
 Italy  Southern Europe
 Italy  Southern Europe
 Jamaica  Caribbean
 Japan  Eastern Asia
 Jersey  Northern Europe
 Jordan  Western Asia
 Jordan  Western Asia
 Kenya  Eastern Africa
 Kenya  Eastern Africa
 Kenya  Eastern Africa
 Kiribati  Micronesia
 Kiribati  Micronesia
 Korea North  Eastern Asia
 Korea South  Eastern Asia
 Korea South  Eastern Asia
 Kosovo  Eastern Europe
 Kosovo  Eastern Europe
 Kuwait  Western Asia
 Kyrgyzstan  Central Asia
 Kyrgyzstan  Central Asia
 Laos  South-Eastern Asia
 Latvia  Northern Europe
 Lebanon  Western Asia
 Lesotho  Southern Africa
 Lesotho  Southern Africa
 Liberia  Western Africa
 Lithuania  Northern Europe
 Luxembourg  Western Europe
 Luxembourg  Western Europe
 Macau S.A.R.  Eastern Asia
 Macau S.A.R.  Eastern Asia
 Macedonia  Southern Europe
 Macedonia  Southern Europe
 Madagascar  Eastern Africa
 Madagascar  Eastern Africa
 Malawi  Eastern Africa
 Maldives  Southern Asia
 Mali  Western Africa
 Mali  Western Africa
 Malta  Southern Europe
 Malta  Southern Europe
 Man (Isle of)  Northern Europe
 Man (Isle of)  Northern Europe
 Marshall Islands  Micronesia
 Marshall Islands  Micronesia
 Martinique  Caribbean
 Martinique  Caribbean
 Mauritania  Western Africa
 Mauritania  Western Africa
 Mauritius  Eastern Africa
 Mayotte  Eastern Africa
 Mexico  Central America
 Mexico  Central America
 Micronesia  Micronesia
 Moldova  Eastern Europe
 Moldova  Eastern Europe
 Monaco  Western Europe
 Mongolia  Eastern Asia
 Mongolia  Eastern Asia
 Montenegro  Southern Europe
 Montenegro  Southern Europe
 Montserrat  Caribbean
 Montserrat  Caribbean
 Morocco  Northern Africa
 Mozambique  Eastern Africa
 Mozambique  Eastern Africa
 Myanmar  South-Eastern Asia
 Myanmar  South-Eastern Asia
 Namibia  Southern Africa
 Nauru  Micronesia
 Nauru  Micronesia
 Nepal  Southern Asia
 Netherlands The  Western Europe
 New Caledonia  Melanesia
 New Zealand  Australia and New Zealand
 New Zealand  Australia and New Zealand
 Nicaragua  Central America
 Nicaragua  Central America
 Niger  Western Africa
 Nigeria  Western Africa
 Nigeria  Western Africa
 Niue  Polynesia
 Norfolk Island  Australia and New Zealand
 Northern Mariana Islands  Micronesia
 Northern Mariana Islands  Micronesia
 Northern Mariana Islands  Micronesia
 Norway  Northern Europe
 Pakistan  Southern Asia
 Palau  Micronesia
 Palestinian Territory Occupied  Western Asia
 Palestinian Territory Occupied  Western Asia
 Panama  Central America
 Papua new Guinea  Melanesia
 Papua new Guinea  Melanesia
 Paraguay  South America
 Peru  South America
 Peru  South America
 Philippines  South-Eastern Asia
 Philippines  South-Eastern Asia
 Pitcairn Island  Polynesia
 Poland  Eastern Europe
 Portugal  Southern Europe
 Puerto Rico  Caribbean
 Qatar  Western Asia
 Reunion  Eastern Africa
 Reunion  Eastern Africa
 Romania  Eastern Europe
 Russia  Eastern Europe
 Rwanda  Eastern Africa
 Rwanda  Eastern Africa
 Saint Helena  Western Africa
 Saint Kitts And Nevis  Caribbean
 Saint Kitts And Nevis  Caribbean
 Saint Lucia  Caribbean
 Saint Lucia  Caribbean
 Saint Pierre and Miquelon  Northern America
 Saint Vincent And The Grenadines  Caribbean
 Saint Vincent And The Grenadines  Caribbean
 Saint Vincent And The Grenadines  Caribbean
 Saint-Barthelemy  Caribbean
 Saint-Barthelemy  Caribbean
 Saint-Martin (French part)  Caribbean
 Saint-Martin (French part)  Caribbean
 Samoa  Polynesia
 San Marino  Southern Europe
 San Marino  Southern Europe
 Saudi Arabia  Western Asia
 Senegal  Western Africa
 Senegal  Western Africa
 Serbia  Southern Europe
 Serbia  Southern Europe
 Seychelles  Eastern Africa
 Sierra Leone  Western Africa
 Sierra Leone  Western Africa
 Singapore  South-Eastern Asia
 Singapore  South-Eastern Asia
 Sint Maarten (Dutch part)  Caribbean
 Slovakia  Eastern Europe
 Slovakia  Eastern Europe
 Slovenia  Southern Europe
 Slovenia  Southern Europe
 Solomon Islands  Melanesia
 Somalia  Eastern Africa
 South Africa  Southern Africa
 South Africa  Southern Africa
 South Georgia  South America
 South Georgia  South America
 South Sudan  Middle Africa
 Sri Lanka  Southern Asia
 Sudan  Northern Africa
 Suriname  South America
 Svalbard And Jan Mayen Islands  Northern Europe
 Swaziland  Southern Africa
 Sweden  Northern Europe
 Sweden  Northern Europe
 Switzerland  Western Europe
 Syria  Western Asia
 Taiwan  Eastern Asia
 Tajikistan  Central Asia
 Tajikistan  Central Asia
 Tanzania  Eastern Africa
 Tanzania  Eastern Africa
 Thailand  South-Eastern Asia
 Togo  Western Africa
 Togo  Western Africa
 Tonga  Polynesia
 Tonga  Polynesia
 Trinidad And Tobago  Caribbean
 Trinidad And Tobago  Caribbean
 Tunisia  Northern Africa
 Turkey  Western Asia
 Turkmenistan  Central Asia
 Turks And Caicos Islands  Caribbean
 Turks And Caicos Islands  Caribbean
 Tuvalu  Polynesia
 Tuvalu  Polynesia
 Uganda  Eastern Africa
 United Arab Emirates  Western Asia
 United Arab Emirates  Western Asia

 United Kingdom  Northern Europe
 United States  Northern America
 Uruguay  South America
 Vanuatu  Melanesia
 Vanuatu  Melanesia
 Vatican City State (Holy See)  Southern Europe
 Venezuela  South America
 Vietnam  South-Eastern Asia
 Vietnam  South-Eastern Asia
 Virgin Islands (British)  Caribbean
 Virgin Islands (British)  Caribbean
 Virgin Islands (US)  Caribbean
 Wallis And Futuna Islands  Polynesia
 Western Sahara  Northern Africa
 Yemen  Western Asia
 Yemen  Western Asia
 Zambia  Eastern Africa
 Zimbabwe  Eastern Africa
 Zimbabwe  Eastern Africa

In [465]:
nova_contagem_df_4 = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df_4

city                        century
 Australia and New Zealand  18          4
                            21         11
 Caribbean                  18         43
                            19          8
                            21         47
                                       ..
Yaren                       20         44
Yerevan                     19         19
                            20         47
Zagreb                      19         19
                            20         48
Name: Income ($), Length: 531, dtype: int64

In [466]:
novos_val_a_sub_4 = nova_contagem_df_4[nova_contagem_df_4 < K_ANONIM].index
novos_val_a_sub_4

MultiIndex([(' Australia and New Zealand', 18),
            (          ' Central America', 19),
            (             ' Central Asia', 18),
            (             ' Central Asia', 21),
            (           ' Eastern Africa', 19),
            (             ' Eastern Asia', 18),
            (           ' Eastern Europe', 19),
            (                ' Melanesia', 18),
            (                ' Melanesia', 21),
            (               ' Micronesia', 19),
            (            ' Middle Africa', 21),
            (          ' Northern Africa', 18),
            (          ' Northern Africa', 19),
            (          ' Northern Africa', 21),
            (         ' Northern America', 18),
            (         ' Northern America', 21),
            (          ' Southern Africa', 18),
            (          ' Southern Africa', 21),
            (           ' Western Europe', 21)],
           names=['city', 'century'])

In [467]:
for (city, century) in novos_val_a_sub_4:
    novo_valor_city = df.loc[(df['city'] == city) & (df['century'] == century), 'region'].values[0]
    print(city,novo_valor_city)
    df.loc[(df['city'] == city) & (df['century'] == century), 'city'] = novo_valor_city

 Australia and New Zealand  Oceania
 Central America  Americas
 Central Asia  Asia
 Central Asia  Asia
 Eastern Africa  Africa
 Eastern Asia  Asia
 Eastern Europe  Europe
 Melanesia  Oceania
 Melanesia  Oceania
 Micronesia  Oceania
 Middle Africa  Africa
 Northern Africa  Africa
 Northern Africa  Africa
 Northern Africa  Africa
 Northern America  Americas
 Northern America  Americas
 Southern Africa  Africa
 Southern Africa  Africa
 Western Europe  Europe

In [468]:
nova_contagem_df_5 = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df_5

city       century
 Africa    18         11
           19         11
           21         19
 Americas  18          4
           19          4
                      ..
Yaren      20         44
Yerevan    19         19
           20         47
Zagreb     19         19
           20         48
Name: Income ($), Length: 525, dtype: int64

In [469]:
novos_val_a_sub_5 = nova_contagem_df_5[nova_contagem_df_5 < K_ANONIM].index
novos_val_a_sub_5

MultiIndex([(' Americas', 18),
            (' Americas', 19),
            (' Americas', 21),
            (    ' Asia', 21),
            (  ' Europe', 19),
            (  ' Europe', 21),
            ( ' Oceania', 19),
            ( ' Oceania', 21)],
           names=['city', 'century'])

for (city, year) in novos_val_a_sub_5:
    if city == ' Africa':
        novo_valor_year = '19-20'
        print(year,novo_valor_year)
        df.loc[(df['city'] == city) & (df['year'] == year), 'year'] = novo_valor_year

In [483]:
for _, row in df[['city', 'century', 'region']].iterrows():
    if row['city'] == ' Americas' and (row['century'] == 18 or row['century'] == 19 or row['century'] == 20 or row['century'] == 21):
        print(row['city'], ' Asia')
        df.loc[(df['city'] == row['city']) & (df['century'] == row['century']), 'century'] = '18-21'
#         df.loc[(df['city'] == row['city']) & (df['century'] == row['century']), 'city'] = ' Asia'

 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia
 Americas  Asia

In [484]:
nova_contagem_df_6 = df.groupby(['city', 'century'])['Income ($)'].count()
nova_contagem_df_6

city       century
 Africa    18         11
           19         11
           21         19
 Americas  18-21      15
 Asia      18         12
                      ..
Yaren      20         44
Yerevan    19         19
           20         47
Zagreb     19         19
           20         48
Name: Income ($), Length: 517, dtype: int64

In [485]:
novos_val_a_sub_6 = nova_contagem_df_6[nova_contagem_df_6 < K_ANONIM].index
novos_val_a_sub_6

MultiIndex([], names=['city', 'century'])

In [486]:
path_name = str(K_ANONIM) + '_city_century.csv'
df[['city','century','Income ($)']].to_csv(path_name)